@font-face {
  font-family: 'Jalnan';
  src: url('../fonts/Jalnan.ttf') format('truetype');
}
* {
  font-family: 'Jalnan';
}
#wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: (1fr, 1fr, 1fr);
  grid-template-rows: (1fr, 1fr, 1fr, 1fr);
}
#circle {
  align-self: center;
  width: 30vh;
  margin-top: 30px;
  margin-bottom: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 50px rgb(248, 207, 62);
}

.box {
  padding: 15px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.about_me {
  margin-top: 3vh;
  font-size: 50px;
}

.profile {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  color: rgb(52, 31, 30);
  border: 1px solid black;
  background-color: white;
  height: 84vh;
  grid-row: 1/4;
  /*grid-row: 2/4;*/
  grid-column: 1/2;
}
.profile_detail {
  margin-right: 20px;
  margin-top: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: end;
  font-size: 40px;
}

.profile_detail2 {
  color: black;
  margin-left: 10px;
}

.specification {
  display: flex;
  flex-direction: column;
  color: rgb(52, 31, 30);
  border: 1px solid black;
  background-color: white;
  grid-column: 2/4;
  grid-row: 1/4;
}

.spe {
  display: flex;
  flex-direction: row;
  height: 20%;
  margin: 2vw 10vh;
  margin-top: 3vh;
}
.cif {
  width: 26vw;
  text-align: centerw;
}

.spe_image {
  margin-top: 5px;
  border-radius: 10%;
  width: 270px;
  height: 160px;
  z-index: 5;
}

.contact {
  color: rgb(52, 31, 30);
  border: 1px solid black;
  background-color: white;
  grid-column: 2/4;
  grid-row: 3/4;
}
.contact_me {
  margin-top: 2vh;
  margin-bottom: 3vh;
  font-size: 40px;
}
.image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 1px;
}
